/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	@include clearfix;

	.cart-contents {
		text-decoration: none;
	}

	.widget_shopping_cart {
		display: none;
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
	}
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}

			~a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	clear: both;

	ul.tabs {
		@include flexbox;
		border-bottom: 1px solid #e9e9e9;

		li {
			padding: 0 1rem;
			border: 1px solid #fff; // placeholder

			&.active {
				background-color: #f9f9f9;
				border: 1px solid #e9e9e9;
				border-bottom: 0;
			}

			a {
				padding: 1em 0;
				display: block;
			}
		}
	}

	.panel {
		margin-bottom: 4rem;
		padding: 2rem 1rem;
		border: 1px solid #e9e9e9;
		border-top: 0;

		h2:first-of-type {
			margin-bottom: 1em;
		}

		table.woocommerce-product-attributes {
			tr {
				display: block;
				margin-bottom: 1rem;

				th {
					width: 6rem;
				}
			}
		}
	}
}

/**
 * Related Products
 */
.related.products {
	padding: 0 1rem;
	margin-bottom: 4rem;

	h2 {
		margin-bottom: 2rem;
	}

	.products {
		@include flexbox;
		margin-left: -1rem;
		margin-right: -1rem;

		.product {
			position: relative;
			text-align: center;

			a.woocommerce-loop-product__link {
				img {
					margin-bottom: 15px;
					padding: 7px;
				}

				h2 {
					@include rfs(14);
					margin-bottom: 10px;
					word-break: break-word;
				}

				.price {
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(center);
					@include rfs(12);

					del,
					ins {
						flex-basis: 100%;
					}

					ins {
						background: #fff;
					}
				}
			}

			a.add_to_cart_button {
				display: none;
			}
		}
	}
}

/**
 * Cross Sells
 */
.cross-sells {
	padding: 2rem 0 3rem;

	h2 {
		margin-bottom: 1rem;
	}

	.products {
		@include flexbox;
		margin-left: -15px;
		margin-right: -15px;

		.product {
			position: relative;
			text-align: center;

			a.woocommerce-loop-product__link {
				img {
					margin-bottom: 15px;
					padding: 15px;
				}

				h2 {
					@include rfs(14);
					margin-bottom: 10px;
					word-break: break-word;
				}

				.price {
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(center);
					@include rfs(12);
					margin-bottom: 15px;

					del,
					ins {
						flex-basis: 100%;
					}

					ins {
						background: #fff;
					}
				}
			}

			a.add_to_cart_button {
				@include rfs(12);
				padding: 8px 7px;
				border: 1px solid #e9e9e9;
				background-color: #f9f9f9;
				&:after {
					content: " 추가";
				}
			}
		}

		&.columns-2 {
			.product {
				width: 50%;
			}
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: $woocommerce__color-success;
	clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $woocommerce__color-info;
}

.woocommerce-error {
	background-color: $woocommerce__color-error;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

@media screen and (min-width: 48em) {

	/**
	 * Header cart
	 */
	.site-header-cart {
		.widget_shopping_cart {
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: 999999;
			left: -999em;
			display: block;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		}

		&:hover,
		&.focus {
			.widget_shopping_cart {
				left: 0;
				display: block;
			}
		}
	}
}

// Onsale Sticker
body.woocommerce {

	// Onsale Sticker
	ul.products li.product a.woocommerce-loop-product__link .onsale {
		@include rfs(11);
		position: absolute;
		padding: 3px 7px;
		background-color: #000;
		color: #fff;
	}

	&.archive {
		ul.products li.product a.woocommerce-loop-product__link .onsale {
			top: 15px;
			left: -10px;
		}
	}

	&.single-product {
		ul.products li.product a.woocommerce-loop-product__link .onsale {
			top: 12px;
			left: -3px;
		}
	}
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}