@import "../header/default";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "../header/transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
// @import "../header/logo-left";
@import "../header/logo-center";
// @import "../header/logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "../header/fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
@import "top-header";

/* ----- Theme Custom ----- */

/* --- Top Header Design --- */

#top-header {
  .container {
    // left widget text
    #header-widget-1 {
      @include flexbox;
      @include align-items(center);
      width: 100%; // extend to 50%
      .widget {
        .textwidget {
          p {
            display: block;
            @include rfs(12);
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 0.2rem;
          }
        }
      }
    }
    // top header left widget
    nav.navbar-top-header-left {
      width: 100%;
      // top header nav align left
      @include justify-content(flex-start);
      .nav-wrapper {
        .navbar-collapse {
          @include flexbox;
          > ul {
            // #top-header-left-menu .navbar-nav
            > li {
              // .nav-item
              // menu item divider
              &:not(:first-child):before {
                display: block;
                position: absolute;
                top: 14px;
                right: 58px;
                width: 1px;
                height: 0.5rem;
                content: "";
              }
            }
          }
        }
      }
    }
    // top header right widget
    nav.navbar-top-header-right {
      width: 100%;
      // top header nav align right
      @include justify-content(flex-end);
      .nav-wrapper {
        .navbar-collapse {
          @include flexbox;
          > ul {
            // #top-header-right-menu .navbar-nav
            > li {
              // .nav-item
              // menu item divider
              &:not(:first-child):before {
                display: block;
                position: absolute;
                top: 14px;
                right: 58px;
                width: 1px;
                height: 0.5rem;
                content: "";
              }
            }
          }
        }
      }
    }
  }
}
// secondary nav divider login pos
body.logged-in #top-header .container .navbar-top-header-right .nav-wrapper .navbar-nav li:not(:first-child):before {
  right: 68px;
}

/* --- Main Header Design --- */

@include media-breakpoint-up(lg) {
  .site-header {
    #main-header {
      .container {
        .site-branding {
          a {
            padding-top: 18px; // logo spacing
          }
        }
      }
    }
  }
}