// @import "../typography/custom-fonts"; // Import Local Fonts
@import "../typography/headings";
@import "../typography/copy";

body,
button,
input,
select,
optgroup,
textarea {
	color: $font-color;
	font-family: $font__main;
	@include rfs(14);
	line-height: $font__line-height-body;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font__title;
	font-weight: 700;
}
h1 {
	@include rfs(24);
}
h2 {
	@include rfs(22);
}
h3 {
	@include rfs(20);
}
h4 {
	@include rfs(18);
}
h5 {
	@include rfs(16);
}
h6 {
	@include rfs(14);
}

@include media-breakpoint-up(sm) { // 576px and up

}
@include media-breakpoint-up(md) { // 768px and up

}
@include media-breakpoint-up(lg) { // 992px and up

}
@include media-breakpoint-up(xl) { // 1200px and up

}

