// --- Shop Page
body.woocommerce {
  // Paginations
  .woocommerce-pagination {
    ul.page-numbers {
      li {
        .page-numbers {
          border: 1px solid #ccc;
        }
        .page-numbers.current {
          background-color: #191e23;
          color: #fff;
        }
        .page-numbers.prev,
        .page-numbers.next {
          border: 0;
          // color: #000;
        }
      }
    }
  }
}

@media screen and (min-width: 48em) {
}
